<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>广告管理</title>
  <link href="../../static/css/takeawayorder.css" rel="stylesheet" />
  <link href="../../static/css/system-lib.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="../../vue-common/adminCommon.css">
  <link rel="stylesheet" href="../../element/element.css">
  <link rel="stylesheet" href="../../checkstand/loaders.min.css">
  <link rel="stylesheet" href="../../commom/css/advertisement.css">
</head>

<body>
  <div id="vueTemplate">
    <header class="today-summarize " id="HeaderBackgroundColor">
      <Topnav></Topnav>
    </header>
    <div id="Leftcard">
      <Leftcard></Leftcard>
    </div>
    <commomtemplate></commomtemplate>

  <div class="decerp-content decerpindex">
    <!--decerpindex-->
    <div class="center-content" id="index-content">
      <div class="content container-fluid">
        <!--导航栏-->
        <div class="content-title-nav">
          <div class="content-title-navlist fl">
            广告管理
          </div>
        </div>
        <!--导航栏-->
        <div class="share-container" id="advertisement_body" style="min-height: 600px;background: #fff;">
          <div class="banner">
            <p class="title">广告1</p>
            <div class="right_banner">
              <img src="../advertisementManage/banner_1.jpg" class="bannerImg" id="img1" alt=""/>
              <input type="file" accept="image/*" class="upliad_img " name="1" />
            </div>
          </div>
          <div class="banner">
            <p class="title">广告2</p>
            <div class="right_banner">
              <img src="../advertisementManage/banner_2.jpg" class="bannerImg" id="img2" alt=""/>
              <input type="file" accept="image/*" class="upliad_img " name="2" />
            </div>
          </div>
          <div class="banner">
            <p class="title">广告3</p>
            <div class="right_banner">
              <img src="../advertisementManage/banner_3.jpg" class="bannerImg" id="img3" alt=""/>
              <input type="file" accept="image/*" class="upliad_img " name="3" />
            </div>
          </div>
          <div class="banner">
            <p class="title">广告4</p>
            <div class="right_banner">
              <img src="../advertisementManage/banner_4.jpg" class="bannerImg" id="img4" alt=""/>
              <input type="file" accept="image/*" class="upliad_img " name="4" />
            </div>
          </div>
          <div class="banner">
            <p class="title">广告5</p>
            <div class="right_banner">
              <img src="../advertisementManage/banner_5.jpg" class="bannerImg" id="img5" alt=""/>
              <input type="file" accept="image/*" class="upliad_img " name="5" />
            </div>
          </div>
          <div class="banner_button">
            <button type="button" id="addNewImg" class="btn donwbtn btnf">确定更改</button>
          </div>
          <div class="video" id="video">
            <p>视频上传</p>
            <div class="button">
              <el-button type="primary">点击上传</el-button>
              <input type="file" id="videoInput" accept="video/mp4" />
            </div>
            <video src="/advertisementManage/video.mp4" controls="controls"></video>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>

<!-- jQuery 2.2.3 -->
<script src="../../jquery/dist/jquery.min.js"></script>
<script src="../../vue-common/js/vue.js"></script>
<script src="../../element/element.js"></script>
<script src="../../vue-common/topLeft.js"></script>
<script src="../../vue-common/topNav.js"></script>
<script src="../../commom/js/admincommom.js"></script>
<script src="../../commom/js/advertisementbaa.js"></script>

</html>