<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>咨询认证</title>
  <link href="../../static/css/takeawayorder.css" rel="stylesheet" />
  <link href="../../static/css/system-lib.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="../../vue-common/adminCommon.css">
  <link rel="stylesheet" href="../../element/element.css">
  <link rel="stylesheet" href="../../commom/css/rtctoken.css">
</head>

<body>
  <div id="vueTemplate">
    <header class="today-summarize " id="HeaderBackgroundColor">
      <Topnav></Topnav>
    </header>
    <div id="Leftcard">
      <Leftcard></Leftcard>
    </div>
    <commomtemplate></commomtemplate>
    <div class="decerp-content decerpindex">
      <div class="center-content" id="index-content">

        <!--decerpindex-->
        <div class="content container-fluid">
          <!-- <div class="boxrtclist">
            <div class="content-title-nav">咨询认证</div>
            <div class="share-container whiteList">
              <ul class="sharestyle" id="pay_ul">
                <li>
                  <p class="labelinfo">商户token</p>
                  <input type="text" class="form-control inputtext" placeholder="输入对应商户token" name="sv_merchant_name"
                    id="sv_merchant_name" value="">
                </li>
              </ul>
              <div class="savabtnbox">
                <button class="btn savebtn" id="btnSavePayInfo">保存</button>
              </div>
            </div>
          </div> -->
          <!-- <div class="boxrtclist">
            <div class="content-title-nav">收钱吧认证</div>
            <div class="share-container whiteList">
              <ul class="sharestyle" id="pay_ul">
                <li>
                  <p class="labelinfo">收钱吧sn</p>
                  <input type="text" class="form-control inputtext" placeholder="输入对应收钱吧sn" name="sv_merchant_name"
                    id="setsn" value="">
                </li>
                <li>
                  <p class="labelinfo">收钱吧key</p>
                  <input type="text" class="form-control inputtext" placeholder="输入对应收钱吧key" name="sv_merchant_name"
                    id="setkey" value="">
                </li>
              </ul>
              <div class="savabtnbox">
                <button class="btn savebtn" id="setshouqian">保存</button>
              </div>
            </div>
          </div> -->
          <div class="boxrtclist">
            <div class="content-title-nav">智能排序</div>
            <div class="share-container whiteList">
              <ul class="sharestyle" id="pay_ul">
                <li>
                  <p class="labelinfo">排序顺序：</p>
                  <div class="integralRules">
                    <ul>
                      <li>
                        <label>
                          <input type="radio" class="checkinput select" data-id="1" id="list1" name="selectstyle">价格排序
                        </label>
                      </li>
                      <li>
                        <label>
                          <input type="radio" class="checkinput select" data-id="2" id="list2" name="selectstyle">利润排序
                        </label>
                      </li>
                      <li>
                        <label>
                          <input type="radio" class="checkinput select" data-id="3" id="list3" name="selectstyle">推荐产家排序
                        </label>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
              <div class="savabtnbox">
                <button class="btn savebtn" @click="setAiList" id="setAIList">保存</button>
                <!-- <button class="btn savebtn" id="editInfo">修改</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

<!-- jQuery 2.2.3 -->
<script src="../../jquery/dist/jquery.min.js"></script>
<script src="../../vue-common/js/vue.js"></script>
<script src="../../element/element.js"></script>
<script src="../../vue-common/topLeft.js"></script>
<script src="../../vue-common/topNav.js"></script>
<script src="../../commom/js/admincommom.js"></script>
<script src="../../vender/echarts/echarts.js"></script>
<script src="../../commom/js/rtctoken.js"></script>

</html>