<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>补货明细</title>
  <link href="../../static/css/takeawayorder.css" rel="stylesheet" />
  <link href="../../static/css/system-lib.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="../../element/element.css">
  <link rel="stylesheet" href="../../vue-common/adminCommon.css">
  <link rel="stylesheet" href="../../commom/css/replenishmentDesk.css">
</head>

<body>
  <div id="vueTemplate">
    <header class="today-summarize " id="HeaderBackgroundColor">
      <Topnav></Topnav>
    </header>
    <div id="Leftcard">
      <Leftcard></Leftcard>
    </div>
    <commomtemplate></commomtemplate>
    <div class="decerp-content decerpindex">
      <!--decerpindex-->
      <div class="center-content" id="index-content">
        <div class="content container-fluid">
          <div class="content-title-nav">
            <div class="content-title-navlist">
              <p>补货订单</p>
            </div>
            <div class="bottomTabale">
              <el-table :data="tableData" style="width: 100%">
                <el-table-column prop="replenishmentNum" label="补货编号">
                </el-table-column>
                <el-table-column prop="name" label="补货操作人">
                </el-table-column>
                <el-table-column prop="countGoods" label="补货数量">
                </el-table-column>
                <el-table-column prop="status" :formatter="formStatus" label="补货状态">
                </el-table-column>
                <el-table-column prop="start" :formatter="formTime" label="补货时间">
                </el-table-column>
                <el-table-column label="操作">
                  <template slot-scope="scope">
                    <a size="small" target="_blank" :href="`/deskadmin/deskDetailOrder?replenishmentId=${scope.row.replenishmentId}`"  @click="handleEdit(scope.$index, scope.row)">查看详情</a>
                    <a size="small" v-if="(+scope.row.status) === 0" @click="zuofei(scope.row.replenishmentNum)">作废该订单</a>
                  </template>
                </el-table-column>
              </el-table>
              <el-pagination style="text-align: center;margin-top: 20px;" small layout="prev, pager, next"
              :total="total" @current-change="currentPage">
              </el-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<!-- jQuery 2.2.3 -->
<script src="../../jquery/dist/jquery.min.js"></script>
<script src="../../vender/axios/axios.min.js"></script>
<script src="../../javascripts/xlPaging.js"></script>
<script src="../../vue-common/js/vue.js"></script>
<script src="../../element/element.js"></script>
<script src="../../deskCommom/topLeft.js"></script>
<script src="../../deskCommom/topNav.js"></script>
<script src="../../commom/js/admincommom.js"></script>
<script src="../../commom/deskJs/deskDetail.js"></script>

<!-- (value.payType == 3) &&  -->



</html>