<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>库存明细</title>
  <link href="../../static/css/takeawayorder.css" rel="stylesheet" />
  <link href="../../static/css/system-lib.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="../../element/element.css">
  <link rel="stylesheet" href="../../vue-common/adminCommon.css">
  <link rel="stylesheet" href="../../commom/css/replenishmentDesk.css">
</head>

<body>
  <div id="vueTemplate">
    <header class="today-summarize " id="HeaderBackgroundColor">
      <Topnav></Topnav>
    </header>
    <div id="Leftcard">
      <Leftcard></Leftcard>
    </div>
    <commomtemplate></commomtemplate>
    <div class="decerp-content decerpindex">
      <!--decerpindex-->
      <div class="center-content" id="index-content">
        <div class="content container-fluid">
          <div class="content-title-nav">
            <div class="content-title-navlist">
              <p>库存详细</p>
              <!--搜索栏-->
              <div class="fr search-input">
                <i class="icon-search positionicon"></i>
                <input type="text" name="" id="contextval" v-model="barcode" placeholder="输入商品编码进行查询">
                <a href="javascript: void(0);" id="query_filter_btn2" @click="search" class="positionicontype">搜索</a>
              </div>
            </div>
            <div style="justify-content: flex-end;margin-top: 20px;" class="content-title-navlist">
              <!--搜索栏-->
              <el-button size="small" type="primary" @click="handleEdit">更新库存</el-button>
            </div>
            <div class="bottomTabale">
              <el-table :data="tableData" style="width: 100%">
                <el-table-column prop="barcode" label="条码">
                </el-table-column>
                <el-table-column prop="goodsName" label="药品名称">
                </el-table-column>
                <el-table-column prop="maxNumber" label="货道最大容量">
                </el-table-column>
                <el-table-column prop="quantity" label="库存数量">
                </el-table-column>
                <el-table-column prop="reparableQuantity" label="可补容量">
                </el-table-column>
                <el-table-column label="操作">
                  <template slot-scope="scope">
                    <el-button size="small" @click="handleDismount(scope.row)">下架</el-button>
                  </template>
                </el-table-column>
              </el-table>
              <el-pagination style="text-align: center;margin-top: 20px;" small layout="prev, pager, next"
                :total="total" @current-change="currentPage">
              </el-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<!-- jQuery 2.2.3 -->
<script src="../../jquery/dist/jquery.min.js"></script>
<script src="../../vender/axios/axios.min.js"></script>
<script src="../../javascripts/xlPaging.js"></script>
<script src="../../vue-common/js/vue.js"></script>
<script src="../../element/element.js"></script>
<script src="../../deskCommom/topLeft.js"></script>
<script src="../../deskCommom/topNav.js"></script>
<script src="../../commom/js/admincommom.js"></script>
<script src="../../commom/deskJs/soketDetail.js"></script>

<!-- (value.payType == 3) &&  -->



</html>